<header>
  <div class="logo"><h1 id="logo">Questa</h1></div>
  <nav>
    <a href="/" class="btn btn-success">Home</a>
    <a href="/discussion/new" class="btn btn-positive">Add Discussion</a>
  </nav>
</header>
